::ng-deep .add-competencies-side-bar.ui-sidebar.ui-sidebar-right {
    background: #FFF;
    padding: 20px;

    header {
        margin: 0;
        border-bottom: none;
    }

    .slider-content {
        height: 100%;
    }
}